.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 1px 1px 3px rgb(165, 161, 161);
}
.header-heading-link {
  text-decoration: none;
}
.header-heading {
  font-family: 'Roboto';
  font-size: 25px;
}
.cart-button-container {
  display: flex;
}
.cart-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.my-orders {
  font-family: 'Roboto';
  font-size: 14px;
  margin-right: 10px;
}
.cart-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.cart-button {
  border-radius: 5px;
}
.cart-icon {
  height: 30px;
  width: 30px;
}
.cart-length {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 14px;
  background-color: red;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0;
  text-align: center;
}
.logout-button {
  background-color: rgb(118, 118, 231);
  border: none;
  color: white;
  border-radius: 5px;
  width: 80px;
  align-self: center;
  height: 30px;
}
